.titulo__contacto {
    @extend %tituloSeparador;
}

.main__formulario {
    display: flex;
    min-height: 100vh;
    padding-top: 3rem;
    padding-inline: 3rem;


    .formulario {
        flex: 1;
        margin-block: 2.3rem;
        margin-inline: 2rem;

        .form__contacto {
            display: grid;
            color: $mainColor;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "namesurname  email"
                "teléfono     motivo"
                "mensaje      mensaje"
                "mensaje      mensaje";
            width: 100%;
            gap: 1rem;

            .namesurname {
                grid-area: namesurname;
            }

            .email {
                grid-area: email;
            }

            .teléfono {
                grid-area: teléfono;
            }

            .motivo {
                grid-area: motivo;
            }

            .mensaje {
                grid-area: mensaje;
            }

            input {
                color: #000000;
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
                padding: 1rem 1.5rem;

                &::placeholder {
                    color: $mainColor;
                }
            }

            .button,
            .reset {
                border-radius: 10px;
                padding: 10px;
                background-color: $secondaryColor;
                border: 0;
                width: 160px;

                &:hover {
                    background-color: $mainColor;
                }
            }
        }
    }

    .datos__paraje {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        flex: 1;

        h3,
        h4 {
            margin-bottom: 1.2rem;
        }

        h3 {
            color: $secondaryColor;
            font-size: 1.5rem;
        }
    }
}