@media screen and (max-width:1250px) {

    /*index*/
    .eventos {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .primero,
        .segundo {
            display: flex;
            flex-direction: row;

            .evento {
                padding-inline: none;

                p {
                    padding-inline: 15%;
                }
            }
        }
    }

    /*nuestros-platos*/

    .main__menu {
        background-image: none;

        .contenedor {
            width: 100%;

            .titulo__paraje {
                h2 {
                    font-size: 5rem;
                }

                h3 {
                    font-size: 10rem;
                }
            }

            .separador {
                padding: 2rem;
                width: 100%;

                h4 {
                    font-size: 2.4rem;
                }
            }

            .menuparaje {
                width: 100%;

                .listado {
                    width: 70%;
                }

                .listado__precio {
                    width: 30%;
                }
            }
        }
    }

    /*servicios*/

    .seccion__servicios {
        flex-direction: row;
        padding-bottom: 20px;

        .primeros,
        .segundos {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            width: 100%;

            .servicio {
                width: 90%;
            }
        }
    }

    /*quienes-somos*/

    .main__quienessomos {
        display: flex;
        flex-direction: column;

        .seccion__quienessomos {
            flex-direction: column;
            padding-bottom: 2rem;

            .div__izq1 {
                width: 100%;

                h3 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                    line-height: 2.3rem;
                }
            }

            .div__der1 {
                display: flex;
                justify-content: center;
                width: 100%;
                padding-inline: 0;

                .nh__imagen {
                    max-width: 100%;
                }
            }
        }

        .seccion__nuestrahistoria {
            flex-direction: column-reverse;

            .div__izq2 {
                justify-content: center;
                padding-top: 40px;

                .qs__imagen {
                    width: 90%;
                    min-height: 75%;
                }
            }

            .div__der2 {
                padding-top: 2rem;

                h3 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                    line-height: 2.3rem;
                }
            }
        }
    }
}

@media screen and (max-width:900px) {

    /*index*/
    .btn__label {
        display: block;
    }

    header {
        #btn__menu:checked~.menu {
            margin-right: 0;
        }

        #btn__menu:not(:checked)~.menu {
            display: none;
        }

        .menu {
            background-color: $secondaryColor;
            position: absolute;
            right: 0;
            top: 70px;
            width: 15rem;
            margin-right: -70%;
            transition: all 1s;
            justify-content: center;
            z-index: 1;

            .lista {
                flex-direction: column;

                .menu_item a {
                    color: #ffffff;
                }
            }
        }
    }

    .seccion__historia {

        height: auto;
        margin-top: 2rem;

        .historia {
            flex-direction: column;
            gap: 2rem;
            padding-block: 1.5rem;
        }
    }

    /*formulario*/

    .main__formulario {
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    }
}

@media screen and (max-width:700px) {

    /*index*/

    .eventos {
        flex-direction: column;
        gap: 0;

        .primero,
        .segundo {
            flex-direction: column;

            .evento {
                padding-block: 2rem;

                p {
                    padding-inline: 30%;
                }
            }
        }
    }

    .seccion__historia {
        .historia {
            flex-direction: column;
            padding-top: 15px;

            .historia__izquierdo {
                max-width: 100%;

                h4,
                p {
                    font-size: 1rem;
                    line-height: 30px;
                    padding-top: 10px;
                }
            }
        }
    }


    /*servicios*/
    .seccion__servicios {
        flex-direction: column;

        .primeros,
        .segundos {
            .servicio {
                width: 70%;
            }
        }
    }
}


@media screen and (max-width:480px) {

    /*index*/

    .principal {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../Imagenes/background3.jpg);

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.2rem;
            color: #ffffff;
        }
    }

    /*formulario*/

    .main__formulario {
        .formulario {
            .form__contacto {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 1fr);
                grid-template-areas:
                    "namesurname"
                    "email"
                    "teléfono"
                    "motivo"
                    "mensaje"
                    "mensaje";
            }
        }
    }
}