.main__menu {
    width: 100%;
    height: auto;
    background-image: url(../Imagenes/el\ nacional__menu.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .contenedor {
        width: 70vw;
        height: auto;
        background-color: rgb(251, 246, 236);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .titulo__paraje {
            text-align: center;

            h2 {
                font-family: $fontTeko;
                font-weight: 300;
                font-size: 100px;
                padding-top: 50px;
                text-transform: uppercase;
            }

            h3 {
                font-family: $fontTeko;
                font-weight: 400;
                font-size: 150px;
                color: $terColor;
                text-shadow: 5px 5px 10px #865e35;
            }
        }

        .separador {
            background-color: $terColor;
            padding: 2%;
            width: 40vw;
            height: 3vh;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                color: white;
                font-family: $fontQuick;
                font-weight: 700;
                font-size: 2vw;
                text-transform: uppercase;
                letter-spacing: 10px;
            }
        }

        .menuparaje {
            display: flex;
            color: $mainColor;
            width: 40vw;
            height: 100%;
            justify-content: center;
            align-items: center;

            .listado,
            .listado__precio {
                padding-block: 30px;
                text-transform: uppercase;
                width: 80%;
                height: 100%;
                display: flex;
                justify-content: flex-start;

                ul {
                    list-style-type: none;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    li {
                        padding-block: 1rem;
                    }
                }
            }
            
            .listado__precio {
                justify-content: flex-end;
            }
        }
        
    }
}


