.quienes__somos {

    h2 {
        @extend %tituloSeparador;
    }
}

.main__quienessomos {
    width: 100%;

    .seccion__quienessomos {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;

        .div__izq1 {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-top: 2rem;
            padding-inline: 3rem;
            -webkit-animation: fade-in-fwd 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-fwd 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            h3 {
                font-size: 1.5rem;
                color: $secondaryColor;
                padding-bottom: 2rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 2rem;
            }
        }

        .div__der1 {
            flex: 1;
            padding-top: 2rem;
            display: flex;
            justify-content: center;
            padding-inline: 4rem;

            .nh__imagen {
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            }
        }
    }

    .seccion__nuestrahistoria {
        width: 100%;
        display: flex;
        margin-bottom: 5rem;

        .div__izq2 {
            flex: 1;
            display: flex;
            justify-content: center;

            .qs__imagen {
                width: 70%;
                height: 100%;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            }
        }

        .div__der2 {
            flex: 1;
            padding-inline: 2rem;

            h3 {
                color: $secondaryColor;
                font-size: 1.5rem;
                padding-bottom: 2rem;
            }

            p {
                line-height: 2rem;
                font-size: 1.2rem;
            }
        }
    }
}