.servicios {
    height: 80px;

    h2 {
        @extend %tituloSeparador;
    }
}

.seccion__servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    flex-direction: column;

    .primeros, .segundos {
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        
        .servicio {
            width: 25vw;
            height: 80vh;
            background-color: $mainColor;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            transition: all 1s;

            &:hover {
                transform: scale(1.1) translateY(-20px);
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            }

            img {
                width: 100%;
                height: 50vh;   
            }  

            .info {
                width: 100%;
                height: 30vh;
                padding: 2%;
                color: #000000;
                padding-inline: 20px;  

                h4 {
                    color: #ffffff;
                    text-transform: uppercase;
                }              

                p {
                    font-size: 1rem;
                    line-height: 4vh;
                    padding-block: 2vh;
                }

                a {
                    color: #000000;
                    background-color: $secondaryColor;
                    text-decoration: none;
                    padding: 10px;
                    border-radius: 5px;

                    &:hover {
                        background-color: #885b2f;
                    }
                }
            }
        }
    }
}