@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Raleway:wght@100;200;300;400;500;600&family=Teko:wght@300;400;500&display=swap');

$fontRaleway: 'Raleway', sans-serif;

$mainColor: #bf6b16;
$secondaryColor: #ba7d40;

%tituloSeparador {  
    display: block;
    background-color: $secondaryColor;
    height: 60px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    color: #ffffff; 

}