@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Raleway:wght@100;200;300;400;500;600&family=Teko:wght@300;400;500&display=swap");
.titulo__contacto, .quienes__somos h2, .servicios h2, .eventos__titulo h2 {
  display: block;
  background-color: #ba7d40;
  font-size: 2.4rem;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.menu__icono {
  color: #ba7d40;
  font-size: 2rem;
}

.btn__label {
  display: none;
  width: 30px;
  height: 30px;
  float: right;
  margin: 1.5rem;
}

header {
  width: 100%;
  height: 6.5rem;
}
header .logo {
  height: 100px;
  position: absolute;
}
header #btn__menu {
  display: none;
}
header .menu {
  width: 100%;
  background-color: #ffffff;
  list-style-type: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
header .menu .lista {
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
}
header .menu .lista .menu_item {
  display: flex;
  text-decoration: none;
  align-items: center;
  display: inline-block;
  margin-inline: 1rem;
  margin-block: 0.75rem;
  padding: 0 5px 0 0;
}
header .menu .lista .menu_item a {
  color: #bf6b16;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
}
header .menu .lista .menu_item a:hover {
  text-decoration: none;
  color: rgba(5, 2, 1, 0.6);
  font-weight: 500;
}
header .menu .lista .active a {
  text-decoration: none;
  color: rgba(5, 2, 1, 0.6);
  font-weight: 500;
}

.principal {
  width: 100%;
  background-image: url(../Imagenes/background3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal h2 {
  color: #bf6b16;
  font-size: 2.5rem;
  padding-inline: 5px;
  -webkit-animation: appear;
  animation: appear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.principal p {
  color: #bf6b16;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding-inline: 20%;
  padding-top: 2rem;
  -webkit-animation: appear;
  animation: appear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.eventos {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-block: 2rem;
}
.eventos .primero,
.eventos .segundo {
  display: flex;
}
.eventos .primero .end,
.eventos .segundo .end {
  justify-content: flex-end;
}
.eventos .primero .evento,
.eventos .segundo .evento {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}
.eventos .primero .evento img,
.eventos .segundo .evento img {
  max-height: 50vh;
  border-radius: 10px;
}
.eventos .primero .evento p,
.eventos .segundo .evento p {
  text-align: center;
  padding-top: 1.2rem;
  padding-inline: 3rem;
  line-height: 1.5rem;
  padding-bottom: 5px;
}
.eventos .primero .evento a,
.eventos .segundo .evento a {
  border-radius: 5px;
  border: none;
  color: #000000;
  text-decoration: none;
  background-color: #ba7d40;
  padding: 0.8rem;
  margin-top: 0.5rem;
}
.eventos .primero .evento a:hover,
.eventos .segundo .evento a:hover {
  background-color: #bf6b16;
}

.seccion__historia {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.seccion__historia .historia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 90%;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.711);
}
.seccion__historia .historia .historia__izquierdo {
  font-size: 1.2rem;
  flex: 1;
  padding-inline: 3vw;
}
.seccion__historia .historia .historia__izquierdo h4 {
  color: #bf6b16;
}
.seccion__historia .historia .historia__izquierdo p {
  line-height: 50px;
}
.seccion__historia .historia .historia__derecho {
  flex: 1.2;
  padding-inline: 20px;
}
.seccion__historia .historia .historia__derecho img {
  max-width: 100%;
  border-radius: 10px;
  transition-timing-function: ease-in-out;
}

.main__menu {
  width: 100%;
  background-image: url(../Imagenes/el\ nacional__menu.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.main__menu .contenedor {
  width: 70%;
  background-color: rgb(251, 246, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.main__menu .contenedor .titulo__paraje {
  text-align: center;
}
.main__menu .contenedor .titulo__paraje h2 {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 6.5rem;
  padding-top: 50px;
  text-transform: uppercase;
}
.main__menu .contenedor .titulo__paraje h3 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 10rem;
  color: #F98A0C;
  text-shadow: 5px 5px 10px #865e35;
}
.main__menu .contenedor .separador {
  background-color: #F98A0C;
  padding: 1rem;
  width: 60%;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__menu .contenedor .separador h4 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.main__menu .contenedor .menuparaje {
  display: flex;
  color: #bf6b16;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.main__menu .contenedor .menuparaje .listado,
.main__menu .contenedor .menuparaje .listado__precio {
  padding-block: 30px;
  text-transform: uppercase;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.main__menu .contenedor .menuparaje .listado ul,
.main__menu .contenedor .menuparaje .listado__precio ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main__menu .contenedor .menuparaje .listado ul li,
.main__menu .contenedor .menuparaje .listado__precio ul li {
  padding-block: 1rem;
}
.main__menu .contenedor .menuparaje .listado__precio {
  justify-content: flex-end;
}

.seccion__servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.8rem;
  width: 100%;
  flex-direction: column;
}
.seccion__servicios .primeros,
.seccion__servicios .segundos {
  display: flex;
  width: 100%;
  padding-block: 2rem;
  justify-content: space-evenly;
}
.seccion__servicios .primeros .servicio,
.seccion__servicios .segundos .servicio {
  width: 25%;
  background-color: #bf6b16;
  border-radius: 10px;
  padding-bottom: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 1s;
}
.seccion__servicios .primeros .servicio:hover,
.seccion__servicios .segundos .servicio:hover {
  transform: scale(1.1) translateY(-20px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.seccion__servicios .primeros .servicio img,
.seccion__servicios .segundos .servicio img {
  width: 100%;
}
.seccion__servicios .primeros .servicio .info,
.seccion__servicios .segundos .servicio .info {
  width: 100%;
  padding: 2%;
  color: #000000;
  padding-inline: 20px;
}
.seccion__servicios .primeros .servicio .info h4,
.seccion__servicios .segundos .servicio .info h4 {
  color: #ffffff;
  text-transform: uppercase;
}
.seccion__servicios .primeros .servicio .info p,
.seccion__servicios .segundos .servicio .info p {
  font-size: 1rem;
  line-height: 4vh;
  padding-block: 2vh;
}
.seccion__servicios .primeros .servicio .info a,
.seccion__servicios .segundos .servicio .info a {
  color: #000000;
  background-color: #ba7d40;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.seccion__servicios .primeros .servicio .info a:hover,
.seccion__servicios .segundos .servicio .info a:hover {
  background-color: #885b2f;
}

.main__quienessomos {
  width: 100%;
}
.main__quienessomos .seccion__quienessomos {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
.main__quienessomos .seccion__quienessomos .div__izq1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-inline: 3rem;
  -webkit-animation: fade-in-fwd 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.main__quienessomos .seccion__quienessomos .div__izq1 h3 {
  font-size: 1.5rem;
  color: #ba7d40;
  padding-bottom: 2rem;
}
.main__quienessomos .seccion__quienessomos .div__izq1 p {
  font-size: 1.2rem;
  line-height: 2rem;
}
.main__quienessomos .seccion__quienessomos .div__der1 {
  flex: 1;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  padding-inline: 4rem;
}
.main__quienessomos .seccion__quienessomos .div__der1 .nh__imagen {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.main__quienessomos .seccion__nuestrahistoria {
  width: 100%;
  display: flex;
  margin-bottom: 5vh;
}
.main__quienessomos .seccion__nuestrahistoria .div__izq2 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.main__quienessomos .seccion__nuestrahistoria .div__izq2 .qs__imagen {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.main__quienessomos .seccion__nuestrahistoria .div__der2 {
  flex: 1;
  padding-inline: 2rem;
}
.main__quienessomos .seccion__nuestrahistoria .div__der2 h3 {
  color: #ba7d40;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.main__quienessomos .seccion__nuestrahistoria .div__der2 p {
  line-height: 2rem;
  font-size: 1.2rem;
}

.main__formulario {
  display: flex;
}
.main__formulario .formulario {
  flex: 1;
  margin-block: 35px;
  margin-inline: 30px;
}
.main__formulario .formulario .form__contacto {
  display: grid;
  color: #bf6b16;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "namesurname  email" "teléfono     motivo" "mensaje      mensaje" "mensaje      mensaje";
  width: 100%;
  gap: 1rem;
}
.main__formulario .formulario .form__contacto .namesurname {
  grid-area: namesurname;
}
.main__formulario .formulario .form__contacto .email {
  grid-area: email;
}
.main__formulario .formulario .form__contacto .teléfono {
  grid-area: teléfono;
}
.main__formulario .formulario .form__contacto .motivo {
  grid-area: motivo;
}
.main__formulario .formulario .form__contacto .mensaje {
  grid-area: mensaje;
}
.main__formulario .formulario .form__contacto input {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  padding: 1rem 1.5rem;
}
.main__formulario .formulario .form__contacto input::-moz-placeholder {
  color: #bf6b16;
}
.main__formulario .formulario .form__contacto input:-ms-input-placeholder {
  color: #bf6b16;
}
.main__formulario .formulario .form__contacto input::placeholder {
  color: #bf6b16;
}
.main__formulario .formulario .form__contacto .button,
.main__formulario .formulario .form__contacto .reset {
  border-radius: 10px;
  padding: 10px;
  background-color: #ba7d40;
  border: 0;
  width: 160px;
}
.main__formulario .formulario .form__contacto .button:hover,
.main__formulario .formulario .form__contacto .reset:hover {
  background-color: #bf6b16;
}
.main__formulario .datos__paraje {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main__formulario .datos__paraje h3,
.main__formulario .datos__paraje h4 {
  margin-bottom: 20px;
}
.main__formulario .datos__paraje h3 {
  color: #ba7d40;
  font-size: 1.5rem;
}

footer {
  width: 100%;
  background-color: #ba7d40;
  text-align: center;
  padding: 10px;
}
footer p {
  color: #ffffff;
  font-size: 1.5rem;
}
footer .redes {
  font-size: 2.2rem;
  letter-spacing: 10px;
}
footer .redes a {
  color: #ffffff;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@media screen and (max-width: 1250px) {
  /*index*/
  .eventos {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-inline: 10rem;
    gap: 3rem;
  }
  .eventos .primero,
.eventos .segundo {
    display: flex;
    flex-direction: row;
  }
  .eventos .primero .evento,
.eventos .segundo .evento {
    padding-inline: none;
  }
  .eventos .primero .evento p,
.eventos .segundo .evento p {
    padding-inline: 5rem;
  }
  /*nuestros-platos*/
  .main__menu {
    background-image: none;
  }
  .main__menu .contenedor {
    width: 100%;
  }
  .main__menu .contenedor .titulo__paraje h2 {
    font-size: 5rem;
  }
  .main__menu .contenedor .titulo__paraje h3 {
    font-size: 10rem;
  }
  .main__menu .contenedor .separador {
    padding: 2%;
    height: 5vh;
    width: 100vw;
  }
  .main__menu .contenedor .separador h4 {
    font-size: 2.4rem;
  }
  .main__menu .contenedor .menuparaje {
    width: 100%;
  }
  .main__menu .contenedor .menuparaje .listado {
    width: 70%;
  }
  .main__menu .contenedor .menuparaje .listado__precio {
    width: 30%;
  }
  /*servicios*/
  .seccion__servicios {
    flex-direction: row;
    padding-bottom: 20px;
  }
  .seccion__servicios .primeros,
.seccion__servicios .segundos {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .seccion__servicios .primeros .servicio,
.seccion__servicios .segundos .servicio {
    width: 90%;
  }
  /*quienes-somos*/
  .main__quienessomos {
    display: flex;
    flex-direction: column;
  }
  .main__quienessomos .seccion__quienessomos {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .main__quienessomos .seccion__quienessomos .div__izq1 {
    width: 100%;
  }
  .main__quienessomos .seccion__quienessomos .div__izq1 h3 {
    font-size: 2rem;
  }
  .main__quienessomos .seccion__quienessomos .div__izq1 p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
  .main__quienessomos .seccion__quienessomos .div__der1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: 0;
  }
  .main__quienessomos .seccion__quienessomos .div__der1 .nh__imagen {
    max-width: 100%;
  }
  .main__quienessomos .seccion__nuestrahistoria {
    flex-direction: column-reverse;
  }
  .main__quienessomos .seccion__nuestrahistoria .div__izq2 {
    justify-content: center;
    padding-top: 40px;
  }
  .main__quienessomos .seccion__nuestrahistoria .div__izq2 .qs__imagen {
    width: 90%;
    min-height: 75%;
  }
  .main__quienessomos .seccion__nuestrahistoria .div__der2 {
    padding-top: 2rem;
  }
  .main__quienessomos .seccion__nuestrahistoria .div__der2 h3 {
    font-size: 2rem;
  }
  .main__quienessomos .seccion__nuestrahistoria .div__der2 p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
}
@media screen and (max-width: 1250px) and (max-width: 900px) {
  /*index*/
  .btn__label {
    display: block;
  }
  header #btn__menu:checked ~ .menu {
    margin-right: 0;
  }
  header #btn__menu:not(:checked) ~ .menu {
    display: none;
  }
  header .menu {
    background-color: #ba7d40;
    position: absolute;
    right: 0;
    top: 70px;
    width: 15rem;
    margin-right: -70%;
    transition: all 1s;
    justify-content: center;
    z-index: 1;
  }
  header .menu .lista {
    flex-direction: column;
  }
  header .menu .lista .menu_item a {
    color: #ffffff;
  }
  .eventos .primero .evento,
.eventos .segundo .evento {
    padding-inline: 5rem;
  }
  .eventos .primero .evento p,
.eventos .segundo .evento p {
    padding-inline: 0;
  }
  .seccion__historia {
    height: auto;
    margin-top: 2rem;
  }
  .seccion__historia .historia {
    flex-direction: column;
    gap: 2rem;
    padding-block: 1.5rem;
  }
  /*formulario*/
  .main__formulario {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1250px) and (max-width: 700px) {
  /*index*/
  .eventos {
    flex-direction: column;
    gap: 0;
  }
  .eventos .primero,
.eventos .segundo {
    flex-direction: column;
  }
  .eventos .primero .evento,
.eventos .segundo .evento {
    padding-block: 2rem;
  }
  .eventos .seccion__historia .historia {
    flex-direction: column;
    padding-top: 15px;
  }
  .eventos .seccion__historia .historia .historia__izquierdo {
    max-width: 80vw;
  }
  .eventos .seccion__historia .historia .historia__izquierdo h4,
.eventos .seccion__historia .historia .historia__izquierdo p {
    font-size: 1rem;
    line-height: 30px;
    padding-top: 10px;
  }
  /*servicios*/
  .seccion__servicios {
    flex-direction: column;
  }
  .seccion__servicios .primeros .servicio,
.seccion__servicios .segundos .servicio {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  /*index*/
  .principal {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../Imagenes/background3.jpg);
  }
  .principal h2 {
    font-size: 1.5rem;
  }
  .principal p {
    font-size: 1.2rem;
    color: #ffffff;
  }
  /*formulario*/
  .main__formulario .formulario .form__contacto {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "namesurname" "email" "teléfono" "motivo" "mensaje" "mensaje";
  }
}/*# sourceMappingURL=estilo.css.map */