
/*//// formulario ////*/

.main__formulario {
    display: flex;
    height: 100vh;

}

.titulo__contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ba7d40;
    height: 60px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
}

.formulario {
    width: 50%;
    height: 100%;
    flex: 1;
    margin-block: 35px;
    margin-inline: 30px;
}

.datos__paraje {
    height: 100%;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form__contacto {
    display: grid;
    color: #bf6b16;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "namesurname  email"
        "teléfono     motivo"
        "mensaje      mensaje"
        "mensaje      mensaje";
    width: 100%;
    gap: 1rem;
}

.form__contacto input {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 1rem 1.5rem;
}

.form__contacto ::placeholder {
    color: #bf6b16;
}

.form__contacto .namesurname {
    grid-area: namesurname;
}

.form__contacto .email {
    grid-area: email;
}

.form__contacto .teléfono {
    grid-area: teléfono;
}

.form__contacto .motivo {
    grid-area: motivo;
}

.form__contacto .mensaje {
    grid-area: mensaje;
}

.button,
.reset {
    border-radius: 10px;
    padding: 10px;
    background-color: #ba7d40;
    border: 0;
    width: 160px;
}

.button:hover,
.reset:hover {
    background-color: #bf6b16;
}

.datos__paraje h3,
.datos__paraje h4 {
    margin-bottom: 20px;
}

.datos__paraje h3 {
    color: #ba7d40;
    font-size: 1.5rem;
}